*,
:after,
:before {
	box-sizing: border-box
}


:focus {
	outline: 0
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}


body {
	margin: 0
}

h1 a,
h1 a:hover,
h2 a,
h2 a:hover,
h3 a,
h3 a:hover,
h4 a,
h4 a:hover,
h5 a,
h5 a:hover,
h6 a,
h6 a:hover {
	color: inherit;
	border-bottom: 0
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	border-radius: 0.75rem;
	font-style: italic;
	box-shadow: 0 0 6px #00000008;
}

object {
	max-width: 100%
}

ol,
ul {
	margin-top: 0
}

li>ol,
li>ul {
	margin-bottom: 0
}

code,
pre {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: .9em
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word
}

pre>code,
pre>code:hover {
	padding: 0;
	background: inherit;
	color: inherit;
	border-radius: 0
}

blockquote p:last-child {
	margin-bottom: 0
}

/* 美化 hr 样式 */
hr {
    position: relative;
    width: calc(100% - 4px);
    border: 1px dashed var(--themecolor);
    background: #fff;
}
 
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
 
button,
input,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0
}

textarea {
	vertical-align: top
}

.icon:empty:before {
	margin-right: 0
}

.icon-ui:before {
	vertical-align: bottom;
	font-size: 20px;
	margin: 4px
}

.icon-ui-comment:before {
	content: "\E802"
}

.icon-ui-date:before {
	content: "\E80D"
}

a,
a:after,
a:before {
	text-decoration: none
}

h1 a,
h1 a:hover,
h2 a,
h2 a:hover,
h3 a,
h3 a:hover,
h4 a,
h4 a:hover,
h5 a,
h5 a:hover,
h6 a,
h6 a:hover {
	color: inherit;
	border-bottom: 0
}

blockquote {
	width: 100%;
	padding: 16px;
	margin-right: 0;
	margin-left: 0
}

code {
	position: relative;
	display: inline-block;
	top: -1px;
	padding-right: 8px;
	padding-left: 8px
}

.form {
	position: relative;
	float: left;
	width: 100%
}

.form-input {
	float: left;
	width: 100%;
	max-height: 36px;
	border: 0;
	padding: 8px;
	background: 0 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: inherit
}

.form-input-hidden {
	display: none
}

ol,
ul {
	list-style: none;
	padding-left: 0
}

ol ol,
ol ul,
ul ol,
ul ul {
	padding-left: 24px
}

pre {
	padding: 12px 16px
}

.icon-ui:before,
.icon:before,
a,
a:after,
a:before,
button,
input {
	transition: .2s;
	transition-property: color, border-color, background-color
}

.root,
html {
	font-size: 15px
}

.h1,
.post--link .post-body .post-wrapper>p:first-of-type,
.post-title,
h1 {
	font-size: 1.75rem;
	line-height: 40px
}

.h2,
h2 {
	font-size: 1.5rem;
	line-height: 36px
}

h2::before {
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	background-image: linear-gradient(var(--themecolor), transparent);
	opacity: .65;
	position: relative;
	border-radius: 50%;
	top: 30px;
}

.h3,
h3 {
	font-size: 1.375rem;
	line-height: 30px
}

.comment-title,
.h4,
.h5,
.h6,
h4,
h5,
h6 {
	font-size: 1.125rem;
	line-height: 26px
}

h3::before {
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	background-image: linear-gradient(var(--themecolor), transparent);
	opacity: .55;
	position: relative;
	border-radius: 50%;
	top: 28px;
}

.p,
body {
	font-size: 1rem;
	line-height: 1.8
}

.header-about,
.header-form,
.post-body [href^="#fn:"],
.s1,
small {
	font-size: .875rem
}

.avatar,
.meta,
.nav,
.s2 {
	font-size: .75rem
}

.s3 {
	font-size: .666rem
}

@media screen and (min-width:579px) {

	.root,
	html {
		font-size: 16px
	}

	.h1,
	.post--link .post-body .post-wrapper>p:first-of-type,
	.post-title,
	h1 {
		font-size: 2rem;
		line-height: 48px
	}

	.h2,
	h2 {
		font-size: 1.75rem;
		line-height: 40px
	}

	h2::before {
		width: 10px;
		height: 10px;
		top:35px;
	}

	.h3,
	h3 {
		font-size: 1.5rem;
		line-height: 36px
	}

	h3::before {
		width: 9px;
		height: 9px;
	}

	.comment-title,
	.h4,
	h4 {
		font-size: 1.375rem;
		line-height: 34px
	}
}

@media screen and (min-width:1183px) {

	.h1,
	.post--link .post-body .post-wrapper>p:first-of-type,
	.post-title,
	h1 {
		font-size: 2.25rem;
		line-height: 56px
	}

	.h2,
	h2 {
		font-size: 2rem;
		line-height: 44px
	}

	h2::before {
		width: 12px;
		height: 12px;
		top:40px;
	}

	h3::before {
		width: 10px;
		height: 10px;
		top:34px
	}

}

@media (min-width:1503px) {

	.root,
	html {
		font-size: 17px
	}

	.p,
	body {
		line-height: 28px
	}


}



.avatar,
.form,
.form-input,
.header-avatar,
.list,
.meta,
.nav,
.post-body [data-js~=embed],
.post-body ol,
.post-body ul,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
object,
ol,
p,
pre,
ul {
	margin-top: 0;
	margin-bottom: 16px
}

@media (min-width:579px) {

	.avatar,
	.form,
	.form-input,
	.header-avatar,
	.list,
	.meta,
	.nav,
	.post-body [data-js~=embed],
	.post-body ol,
	.post-body ul,
	blockquote,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	object,
	ol,
	p,
	pre,
	ul {
		margin-bottom: 24px
	}
}

.wrapper {
	position: relative;
	width: 100%;
	margin-right: auto;
	margin-left: auto
}

.wrapper:after,
.wrapper:before {
	content: " ";
	display: table
}

.wrapper:after {
	clear: both
}

.form>:last-child,
.main>:last-child,
.nav>.nav-item:last-child,
.wrapper>:last-child {
	margin-bottom: 0
}

.avatar {
	position: relative;
	display: table;
	width: 100%;
	line-height: 16px
}

.avatar:before {
	font-size: 32px;
	line-height: 32px
}

.avatar-item {
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: 0;
	margin-bottom: 0
}

.avatar-item>* {
	display: table-row;
	overflow: hidden;
	text-overflow: ellipsis
}

.avatar-img {
	max-width: inherit;
	width: 34px;
	height: 34px
}

.avatar-img>* {
	display: block
}

.avatar-item+.avatar-item {
	padding-left: 8px
}

[data-js~=embed] {
	position: relative;
	padding: 0;
	margin-bottom: 0
}

[data-js~=embed]>* {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.post-body [href^="#fn:"] {
	margin-left: 1px;
	margin-right: 1px
}

.list,
.post-body ol,
.post-body ul {
	float: left;
	width: 100%;
	list-style: none
}

.list-item,
.post-body li {
	float: left;
	width: 100%;
	clear: both
}

.post-body ul li {
	position: relative;
	float: left;
	width: 100%;
	padding-left: 20px
}

.post-body ul li:before {
	position: absolute;
	top: 1px;
	left: 0;
	content: '';
	font-family: Arial;
	font-size: 1em;
	text-align: left
}

.list--count,
.post-body ol {
	counter-reset: section
}

.list--count .list-item,
.post-body ol li {
	position: relative;
	padding-left: 20px
}

.list--count .list-item:before,
.post-body ol li:before {
	position: absolute;
	left: 0;
	width: 16px;
	counter-increment: section;
	content: counter(section) '.';
	font-family: inherit;
	font-size: 1em
}

.meta {
	display: table;
	width: 100%
}

.meta>.meta-item:last-child {
	padding-right: 0
}

.meta-item {
	position: relative;
	display: table-cell;
	padding-right: 8px;
	white-space: nowrap;
	cursor: pointer
}

.meta-date {
	overflow: hidden;
	width: 100%;
	max-width: 0;
	text-overflow: ellipsis
}

.meta-count {
	margin-left: -4px
}

.nav {
	float: left;
	width: 100%
}

.nav>.nav-item:first-child {
	margin-left: 0
}

.nav>.nav-item:last-child {
	margin-right: 0
}

.nav-item {
	display: inline-block;
	margin-right: 8px;
	margin: 3px;
	margin-left: 8px
}

.nav-item a {
	display: block
}

.nav-text {
	clip: rect(0, 0, 0, 0);
	display: inherit;
	position: absolute
}

.nav--pager .nav-next:after {
	position: relative;
	top: -1px;
	content: '\2192';
	margin-left: 4px
}

.nav-ctrl {
	float: right
}

body {
	overflow-y: scroll
}

body>.wrapper {
	max-width: 339px;
	padding-right: 8px;
	padding-left: 8px
}

@media (min-width:386px) {
	body>.wrapper {
		max-width: 548px;
		padding-right: 24px;
		padding-left: 24px
	}
}

@media (min-width:579px) {
	body>.wrapper {
		max-width: 722px;
		padding-right: 32px;
		padding-left: 32px
	}
}

@media (min-width:769px) {
	body>.wrapper {
		max-width: 894px;
		padding-right: 48px;
		padding-left: 48px
	}
}

@media (min-width:1183px) {
	body>.wrapper {
		max-width: 1328px;
		padding-right: 80px;
		padding-left: 80px
	}
}

@media (min-width:1503px) {
	body>.wrapper {
		max-width: 1851px;
		padding-right: 480px;
		padding-left: 135px;
	}
}

.header {
	position: relative;
	float: left;
	width: 100%;
	padding-top: 24px;
	padding-bottom: 12px;
	text-align: center
}

.header-wrapper {
	max-width: 275px
}

.sidebar-wrapper {
	max-width: 275px
}


.header-item {
	float: none;
	display: table;
	width: auto;
	margin-right: auto;
	margin-left: auto
}


.header-nav {
	padding-top: 16px
}

.header-form .form-input {
	margin-bottom: 0
}

.header-credit {
	display: none
}

.header-title+.header-nav {
	padding-top: 0
}

.header-title+.header-nav .nav-item:first-child a:before {
	display: none
}

@media (min-width:579px) {
	.header {
		position: sticky;
		padding-top: 32px;
		padding-bottom: 16px
	}

	.header-wrapper {
		max-width: 530px
	}

	.sidebar-wrapper {
		max-width: 530px
	}


	.header-nav {
		padding-top: 24px
	}
}

@media (min-width:769px) {
	.header {
		position: sticky;
		padding-top: 48px;
		padding-right: 48px;
		padding-bottom: 24px;
		padding-left: 48px
	}

	.header-wrapper {
		max-width: 606px
	}

	.sidebar-wrapper {
		max-width: 606px
	}
}

@media (min-width:1183px) {
	.header {
		position: fixed;
		width: 328px;
		padding-top: 50px;
		padding-right: 40px;
		padding-bottom: 40px;
		margin-right: -328px
	}

	.header-wrapper {
		max-width: 100%
	}

	.sidebar-wrapper {
		max-width: 100%
	}

	.header-credit .nav-item,
	.header-item,
	.header-nav .nav-item {
		display: flex;
		width: 100%;
		align-content: center;
		align-items: baseline;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
	}

	.header-credit .nav-item,
	.header-nav .nav-item,
	.header-title {
		width: auto
	}

	.header-nav .nav-item:first-child {
		position: relative
	}

	.header-nav .nav-item:first-child:after {
		content: '';
		position: absolute;
		top: -24px;
		left: 0;
		right: 0;
		border-top: 1px solid #c7ced1;
	}

	.header-credit {
		display: block;
		font-size: .666rem;
		margin: 0;
		bottom: -40px
	}

}

@media (min-width:1503px) {
	.header {
		position: fixed;
		width: 344px;
		padding-right: 50px;
		padding-bottom: 50px;
		margin-right: -344px;
		margin-left: -35px;
	}


	.header-credit {
		bottom: -56px
	}
}

.main {
	float: left;
	width: 100%;
	padding-top: 12px;
	padding-bottom: 24px
}

.main-pager {
	padding-top: 24px
}

.main-pager .nav--pager {
	float: right;
	width: auto;
	margin-bottom: 0
}

.main-pager .nav-next {
	position: relative
}

@media (min-width:579px) {
	.main {
		padding-top: 16px;
		padding-bottom: 32px
	}

	.main-pager {
		padding-top: 32px
	}

	.main-pager .nav-item {
		margin-right: 16px;
		margin-left: 16px
	}
}

@media (min-width:769px) {
	.main {
		padding-top: 24px;
		padding-bottom: 48px
	}

	.main-pager {
		padding-top: 48px
	}
}

@media (min-width:1183px) {
	.main {
		padding-top: 50px;
		padding-bottom: 80px;
		padding-left: 305px
	}

	.main-pager {
		padding-top: 80px
	}
}

@media (min-width:1503px) {
	.main {
		padding-top: 50px;
		padding-bottom: 112px;
		padding-left: 295px
	}

	.main-pager {
		padding-top: 112px
	}
}

.post {
	float: left;
	width: 100%;
	margin-bottom: 24px
}

.post-inner {
	position: relative;
	z-index: 1;
	overflow: hidden;
	float: left;
	width: 100%
}

.post-item {
	float: left;
	width: 100%;
	padding: 16px
}

.post-wrapper {
	max-width: 275px
}

.post-body {
	margin-top: -16px
}

.post--link .post-body .post-wrapper>p:first-of-type,
.post-title {
	margin-top: -7px;
	margin-bottom: 9px
}

.post-more {
	float: left;
	width: 100%
}

.post-excerpt:after {
	content: ''
}

.post-body ol ol,
.post-body ol ul,
.post-body ul ol,
.post-body ul ul {
	margin-bottom: 0
}

.post-body .post-more:only-child {
	margin-top: -8px
}

.post-comments .post-wrapper:before,
.post-footer .post-wrapper:before {
	content: '';
	position: absolute;
	top: -16px;
	width: 100%
}

.post-meta .meta-item.icon::before {
	font-size: 22px
}

[data-js~=share]:before {
	margin-right: 0
}

[data-js~=share] .meta-count {
	display: none
}

[data-js~=share][data-js~=share-start]:before {
	margin-right: 8px
}

[data-js~=share][data-js~=share-start] .meta-count {
	display: inline
}

@media (min-width:386px) {
	.post {
		margin-bottom: 28px
	}

	.post-item {
		float: left;
		width: 100%;
		padding: 24px
	}

	.post-body {
		margin-top: -24px
	}

	.post-wrapper {
		max-width: 436px
	}

	.post--link .post-body .post-wrapper>p:first-of-type,
	.post-title {
		margin-bottom: 17px
	}

	.post-more {
		margin-top: 0
	}

	.post-title+.post-more {
		margin-top: -8px
	}

	.post-comments .post-wrapper:before,
	.post-footer .post-wrapper:before {
		top: -24px
	}
}

@media (min-width:579px) {
	.post {
		margin-bottom: 36px
	}

	.post-item {
		float: left;
		width: 100%;
		padding: 32px
	}

	.post-body {
		margin-top: -32px
	}

	.post-wrapper {
		max-width: 530px
	}

	.post--link .post-body .post-wrapper>p:first-of-type,
	.post-title {
		margin-top: -8px;
		margin-bottom: 24px
	}

	[data-js~=share]:before {
		margin-right: 8px
	}

	.post-meta .meta-item {
		padding-right: 16px
	}

	.post-comments .post-wrapper:before,
	.post-footer .post-wrapper:before {
		top: -32px
	}
}

@media (min-width:769px) {
	.post {
		margin-bottom: 52px
	}

	.post-item {
		float: left;
		width: 100%;
		padding: 45px 45px 50px 45px;
	}

	.post-body {
		margin-top: -55px
	}

	.post--link .post-body .post-wrapper>p:first-of-type,
	.post-title {
		margin-bottom: 40px
	}

	.post-more {
		margin-top: 16px
	}

	.post-comments .post-wrapper:before,
	.post-footer .post-wrapper:before {
		top: -48px
	}

	.post-wrapper {
		max-width: 606px
	}
}

@media (min-width:1183px) {
	.post {
		margin-bottom: 82px
	}

	.post-body {
		margin-top: -40px
	}

	.post-wrapper {
		max-width: 640px
	}

	.post--link .post-body .post-wrapper>p:first-of-type,
	.post-title {
		margin-top: -10px;
		margin-bottom: 30px
	}

	.post-more {
		margin-top: 8px
	}

	.post-comments .post-wrapper:before,
	.post-footer .post-wrapper:before {
		top: -40px
	}
}

@media (min-width:1503px) {
	.post-item {
		float: left;
		width: 100%
	}

	.post-body {
		margin-top: -56px
	}

	.post-wrapper {
		max-width: 800px
	}

	.post--link .post-body .post-wrapper>p:first-of-type,
	.post-title {
		margin-top: -10px;
		margin-bottom: 46px
	}

	.post-more {
		margin-top: 24px
	}

	.post-comments .post-wrapper:before,
	.post-footer .post-wrapper:before {
		top: -56px
	}
}

.post--cover .post-header {
	position: absolute;
	z-index: 5;
	top: 0;
	right: 0;
	left: 0
}

.post--cover .post-body {
	margin-top: 0
}

.post--link .post-body .post-wrapper>p:first-of-type {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto
}

.post--small {
	position: relative;
	height: 0;
	width: 100%;
	padding-top: 100%
}

.post--small .post-inner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto;
	height: auto
}

.post--small .post-wrapper {
	max-width: 100%
}

@media (min-width:579px) {
	.post--small {
		width: 50%;
		padding-top: 50%
	}

	.post--small+.post--small {
		margin-bottom: 20px
	}

	.post--small,
	.post--small+.post--small:last-child {
		margin-bottom: -20px
	}

	.post--small .post-inner {
		right: 18px;
		bottom: 18px
	}

	.post--small+.post--small .post-inner {
		right: 0;
		left: 18px
	}

	.post--small .post-item {
		padding: 16px
	}
}

@media (min-width:769px) {
	.post--small+.post--small {
		margin-bottom: 26px
	}

	.post--small,
	.post--small+.post--small:last-child {
		margin-bottom: -26px
	}

	.post--small .post-inner {
		right: 26px;
		bottom: 26px
	}

	.post--small+.post--small .post-inner {
		right: 0;
		left: 26px
	}

	.post--small .post-item {
		padding: 24px
	}
}

@media (min-width:1183px) {
	.post--small+.post--small {
		margin-bottom: 41px
	}

	.post--small,
	.post--small+.post--small:last-child {
		margin-bottom: -41px
	}

	.post--small .post-inner {
		right: 41px;
		bottom: 41px
	}

	.post--small+.post--small .post-inner {
		left: 16px 2.5625
	}

	.post--small .post-item {
		padding: 16px
	}
}

@media (min-width:1503px) {
	.post--small+.post--small {
		margin-bottom: 57px
	}

	.post--small,
	.post--small+.post--small:last-child {
		margin-bottom: -57px
	}

	.post--small .post-inner {
		right: 57px;
		bottom: 57px
	}

	.post--small+.post--small .post-inner {
		left: 57px
	}

	.post--small .post-item {
		padding: 32px
	}
}

[data-ani] {
	animation-duration: .35s;
	animation-fill-mode: both;
	-webkit-font-smoothing: subpixel-antialiased
}

[data-ani=hide] {
	opacity: 0;
	visibility: hidden
}

[data-ani=fade-in] {
	animation-name: fade-in
}

.ie [data-ani=fade-in] {
	visibility: visible;
	opacity: 1
}

@keyframes fade-in {
	0% {
		visibility: hidden;
		opacity: 0
	}

	100% {
		visibility: visible;
		opacity: 1
	}
}

[data-ani=fade-out] {
	animation-name: fade-out
}

.ie [data-ani=fade-out] {
	visibility: hidden;
	opacity: 0
}

@keyframes fade-out {
	100% {
		visibility: hidden;
		opacity: 0
	}
}

[data-ani=fade-out-down] {
	animation-name: fade-out-down
}

.ie [data-ani=fade-out-down] {
	visibility: hidden;
	opacity: 0
}

@keyframes fade-out-down {
	0% {
		visibility: visible;
		opacity: 1;
		transform: translateY(0)
	}

	100% {
		visibility: hidden;
		opacity: 0;
		transform: translateY(8px)
	}
}

[data-ani=fade-out-down-mid] {
	animation-name: fade-out-down-mid
}

.ie [data-ani=fade-out-down-mid] {
	visibility: hidden;
	opacity: 0
}

@keyframes fade-out-down-mid {
	0% {
		visibility: visible;
		opacity: 1;
		transform: translate(50%, 0)
	}

	100% {
		visibility: hidden;
		opacity: 0;
		transform: translate(50%, 8px)
	}
}

[data-ani=fade-out-up] {
	animation-name: fade-out-up
}

.ie [data-ani=fade-out-up] {
	visibility: visible;
	opacity: 0
}

@keyframes fade-out-up {
	0% {
		visibility: visible;
		opacity: 1;
		transform: translateY(0)
	}

	100% {
		visibility: visible;
		opacity: 0;
		transform: translateY(-8px)
	}
}

[data-ani=slide-in-down] {
	animation-name: slide-in-down
}

.ie [data-ani=slide-in-down] {
	visibility: visible;
	opacity: 1
}

@keyframes slide-in-down {
	0% {
		visibility: visible;
		opacity: 1;
		transform: translateY(-8px)
	}

	100% {
		visibility: visible;
		opacity: 1;
		transform: translateY(0)
	}
}

[data-ani=slide-in-up] {
	animation-name: slide-in-up
}

.ie [data-ani=slide-in-up] {
	visibility: visible;
	opacity: 1
}

@keyframes slide-in-up {
	0% {
		visibility: visible;
		opacity: 1;
		transform: translateY(8px)
	}

	100% {
		visibility: visible;
		opacity: 1;
		transform: translateY(0)
	}
}

[data-ani=slide-in-up-mid] {
	animation-name: slide-in-up-mid
}

.ie [data-ani=slide-in-up-mid] {
	visibility: visible;
	opacity: 1
}

@keyframes slide-in-up-mid {
	0% {
		visibility: visible;
		opacity: 1;
		transform: translate(50%, 8px)
	}

	100% {
		visibility: visible;
		opacity: 1;
		transform: translate(50%, 0)
	}
}

.post--link .post-title a,
a {
	color: var(--themecolor);
}

.post--link .post-title a:hover,
a:hover {
	color: var(--themehovercolor);
}

blockquote {
	border-radius: 0.75rem;
	color: #292929;
	background-color: #f7f7f7;
}

code {
	border-radius: 2px;
	color: #292929;
	background-color: #f5f5f5
}

ol,
ul {
	color: #333
}

li:before {
	color: #858585
}

pre {
	border-radius: 0.75rem;
	color: #fff;
	background-color: #2b2b2b
}

.post--cover .post-body .post-wrapper>p:first-child,
.comment-title,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
	font-weight: 400;
	color: #333
}

.comment-title{
	font-weight: 800;
}


body {
	font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
	font-weight: 400;
	color: #5c5c5c
}

b,
strong {
	font-weight: 600
}

.avatar,
.avatar:before {
	color: #333
}

.avatar {
	text-transform: uppercase;
	letter-spacing: 2px
}

.avatar:hover {
	color: #999
}

.avatar-title {
	color: inherit
}

.avatar-img {
	border-radius: 100%
}

.post-body [href^="#fn"] {
	border-bottom: none
}

.meta {
	color: #767676;
	text-transform: uppercase;
	letter-spacing: 2px
}

.meta-item {
	color: inherit
}

.meta-item:before {
	color: #d6d6d6
}

.meta-item:hover {
	color: #999
}

.meta-item:hover .icon-ui:before,
.meta-item:hover:before {
	color: #adadad
}

.nav {
	color: #5c6a70;
	text-transform: uppercase;
	letter-spacing: 2px
}

.nav-item {
	color: inherit;
	position: relative;
	display: inline-block;
}

.nav-item-current,
.nav-item:hover {
	color: #374043
}

.nav-item:before {
	content: "";
	display: block;
	position: absolute;
	height: 1px;
	background: #000;
	width: 0;
	left: 0;
	bottom: 0;
	transition: width 0.4s;
}

.nav-item:hover:before {
	width: 100%;
}

.nav-item-alt,
.nav-item-alt:hover {
	color: #6F6F6F
}

.nav--pager a {
	color: #6F6F6F
}

body {
	background-color: #f6f6F6F6
}

.header-about,
.header-form {
	color: #6F6F6F
}

.header-title {
	margin-top: 12px;
}

.header-nav {
	border-top: 1px solid #c7ced1
}

.header-form .form-input {
	background: #c7ced1;
	color: #5c6a70;
	border-radius: 3px
}

.header-form ::-webkit-input-placeholder {
	color: #5c6a70
}

.header-form :-moz-placeholder {
	color: #5c6a70
}

.header-form ::-moz-placeholder {
	color: #5c6a70
}

.header-form :-ms-input-placeholder {
	color: #5c6a70
}

.header-form .form-input:focus {
	color: #374043
}

.header-about a,
.header-nav .nav-item a,
.header-nav .nav-item:hover a {
	color: inherit
}

.header-title+.header-nav {
	border-top: 0
}

.header-about a {
	color: inherit;
	border-bottom: 1px dotted
}

.header-credit .nav-item-alt:hover {
	color: #5c6a70
}

@media (min-width:1183px) {
	.header-nav {
		border-top: 0
	}

	.header-nav .nav-item:first-child:before {
		border-top: 1px solid #c7ced1
	}
}

.post-inner {
	border-radius: 0.75rem;
	box-shadow: 0 0 6px #00000008;
}

.post-item {
	background-color: #fff
}

.post--link .post-title a:hover,
.post-body p a:hover {
	border-bottom-color: #333
}

.post-comments .post-wrapper:before,
.post-footer .post-wrapper:before {
	border-top: 1px solid #ebebeb
}

.ie .post--cover .post-header {
	filter: none
}

.post--cover .post-author {
	color: #ebebeb
}

.post--cover .post-author:hover {
	color: #fff
}

.post--cover .post-cover+.post-footer .post-wrapper:before {
	border-top: 0
}

.post--cover .post-body p:first-child strong {
	font-weight: inherit
}

.doc_comments {
	padding: 0
}

.cf {
	margin: 0 0 3rem 0
}

.response {
	margin: 2rem 0
}

.cf a {
	color: #333
}

.comment-list {
	margin: 0;
	padding-left: 0;
	list-style-type: none
}

.avatarcc {
	float: left;
	display: block;
	margin: 1.4rem 1.4rem 0 0;
	width: 64px;
	height: 64px;
	border-radius: 50%
}

.cp {
	overflow: hidden;
	padding: 1.5rem 0;
	border-bottom: 1px dotted #e0e0e0
}

.cp p {
	margin: 0
}

.cr {
	float: right;
	display: none
}

.cp:hover .cr {
	display: block
}

.ccr,
.cm {
	margin-top: 1rem;
	margin-bottom: 1rem;
	color: #aaa;
	font-size: .766rem
}

.ccr {
	text-align: right
}

.ca {
	padding: .1rem .2rem;
	border-radius: 2px;
	background: #eee;
	font-size: .766rem
}

.ca a:hover {
	color: #222 !important
}

.badge{
	padding: .1rem .2rem;
    border-radius: 2px;
	color: #ffffff;
    background: var(--themecolor);
    font-size: .766rem;
}

.c_p>.children {
	margin-left: 1rem;
	padding-left: 64px
}

.tbox {
	padding: 0 0 0 18px
}

.ci {
	overflow: auto;
	margin: 10px 0;
	margin-left: -18px;
	padding: 5px 15px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 12px;
	color: #555;
	line-height: 1.7
}

textarea.ci {
	resize: none;
	padding: 15px 15px;
	min-height: 200px
}

.submit {
	display: block;
	padding: 8px 30px;
	margin-top: 10px;
	border: 1px solid #f0f0f0;
	background: #f5f5f5;
	text-align: center;
	font-size: 1rem;
	line-height: 36px;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.submit:hover {
	border-color: #ddd;
	background: #ddd;
	color: #000;
	cursor: pointer
}

@media only screen and (max-width:767px) {
	.c_p .children {
		margin-left: 0;
		padding-left: 0
	}
}

.el-avatar--circle {
	border-radius: 50%
}

.el-avatar {
	align-items: center;
	background: #c0c4cc;
	box-sizing: border-box;
	color: #fff;
	display: inline-flex;
	font-size: 14px;
	height: 120px;
	justify-content: center;
	overflow: hidden;
	text-align: center;
	width: 120px;
	margin-top: -18px
}

.post-title::after {
	width: 58px;
	height: 11px
}

.post-title::after {
	content: "";
	display: block;
	background: var(--themecolor);
	opacity: .55;
	position: relative;
	pointer-events: none;
	border-radius: 15px;
	bottom: 15px;
}

/* 确保 .right-sidebar 的样式 */
.right-sidebar {
	top: 0;
	overflow-y: auto;
	padding: 50px;
	position: fixed;
	width: 370px;
}

/* 分类和标签模块样式 */
.category-section,
.tag-section,
.toc-section {
	margin-bottom: 20px;
}

.section-header {
	display: flex;
	align-items: center;
	font-size: 1.2rem;
	font-weight: bold;
	color: #333;
	margin-bottom: 16px;
}

.section-header .icon {
	font-size: 1.5rem;
	margin-right: 8px;
}

.section-body {
	padding: 10px 0;
}

.category-cloud,
.tag-cloud {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.category-cloud .category,
.tag-cloud .tag {
	display: inline-block;
	padding: 2px 12px;
	background-color: #fff;
	color: #333;
	border-radius: 5px;
	text-decoration: none;
	font-size: 0.9em;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.category-cloud .category:hover,
.tag-cloud .tag:hover {
	background-color: #f0f0f0;
}

@media screen and (max-width: 1503px) {
	.right-sidebar {
		display: none;
	}
}

@media (min-width: 1503px) {
	.right-sidebar {
		display: inline;
	}
}

.no-bg {
	background-color: transparent !important;
}


.post-media {
	width: 100%;
	margin: 0;
	margin-top: -10px;
	max-height: 350px;
	overflow: hidden;
}

.post-media img {
	width: 100%;
	object-fit: cover;
	max-height: 490px;
	border-radius: 0px;
}

.post-media.single img {
	max-height: 400px;
}

.post-media.single {
	margin-top: -10px;
	max-height: 490px;
	overflow: hidden;
}

.nav.main-lastinfo::before {
	content: "";
	display: block;
	height: 3px;
	width: 50px;
	background: #707070;
	margin-bottom: 10px;
}

.medium-zoom-overlay,
.medium-zoom-image--opened {
	z-index: 999;
}

/* fontello */
@font-face {
	font-family: 'fontello';
	src: url('../fonts/fontello.eot?1544444');
	src: url('../fonts/fontello.eot?1544444#iefix') format('embedded-opentype'),
		 url('../fonts/fontello.woff2?1544444') format('woff2'),
		 url('../fonts/fontello.woff?1544444') format('woff'),
		 url('../fonts/fontello.ttf?1544444') format('truetype'),
		 url('../fonts/fontello.svg?1544444#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
	  font-family: 'fontello';
	  src: url('../font/fontello.svg?1544444#fontello') format('svg');
	}
  }
  */
  [class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
  
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */
  
	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
  
	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;
  
	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;
  
	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */
  
	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  
	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
  
  .icon-heart-circled:before { content: '\e800'; } /* '' */
  .icon-emo-wink:before { content: '\e801'; } /* '' */
  .icon-chat:before { content: '\e802'; } /* '' */
  .icon-article:before { content: '\e803'; } /* '' */
  .icon-record-outline:before { content: '\e804'; } /* '' */
  .icon-emo-surprised:before { content: '\e806'; } /* '' */
  .icon-emo-tongue:before { content: '\e807'; } /* '' */
  .icon-emo-coffee:before { content: '\e808'; } /* '' */
  .icon-ok-circle:before { content: '\e809'; } /* '' */
  .icon-cancel-circle:before { content: '\e80a'; } /* '' */
  .icon-attention:before { content: '\e80b'; } /* '' */
  .icon-minus-circle:before { content: '\e80c'; } /* '' */
  .icon-clock:before { content: '\e80d'; } /* '' */
  .icon-up-open:before { content: '\e80f'; } /* '' */
  .icon-down-open:before { content: '\e810'; } /* '' */
  .icon-info-circled:before { content: '\f085'; } /* '' */
  .icon-github-circled:before { content: '\f09b'; } /* '' */
  .icon-hashtag:before { content: '\f292'; } /* '' */  



/* AOS */
[data-aos][data-aos][data-aos-duration="50"],body[data-aos-duration="50"] [data-aos]{transition-duration:50ms}[data-aos][data-aos][data-aos-delay="50"],body[data-aos-delay="50"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="50"].aos-animate,body[data-aos-delay="50"] [data-aos].aos-animate{transition-delay:50ms}[data-aos][data-aos][data-aos-duration="100"],body[data-aos-duration="100"] [data-aos]{transition-duration:.1s}[data-aos][data-aos][data-aos-delay="100"],body[data-aos-delay="100"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="100"].aos-animate,body[data-aos-delay="100"] [data-aos].aos-animate{transition-delay:.1s}[data-aos][data-aos][data-aos-duration="150"],body[data-aos-duration="150"] [data-aos]{transition-duration:.15s}[data-aos][data-aos][data-aos-delay="150"],body[data-aos-delay="150"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="150"].aos-animate,body[data-aos-delay="150"] [data-aos].aos-animate{transition-delay:.15s}[data-aos][data-aos][data-aos-duration="200"],body[data-aos-duration="200"] [data-aos]{transition-duration:.2s}[data-aos][data-aos][data-aos-delay="200"],body[data-aos-delay="200"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="200"].aos-animate,body[data-aos-delay="200"] [data-aos].aos-animate{transition-delay:.2s}[data-aos][data-aos][data-aos-duration="250"],body[data-aos-duration="250"] [data-aos]{transition-duration:.25s}[data-aos][data-aos][data-aos-delay="250"],body[data-aos-delay="250"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="250"].aos-animate,body[data-aos-delay="250"] [data-aos].aos-animate{transition-delay:.25s}[data-aos][data-aos][data-aos-duration="300"],body[data-aos-duration="300"] [data-aos]{transition-duration:.3s}[data-aos][data-aos][data-aos-delay="300"],body[data-aos-delay="300"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="300"].aos-animate,body[data-aos-delay="300"] [data-aos].aos-animate{transition-delay:.3s}[data-aos][data-aos][data-aos-duration="350"],body[data-aos-duration="350"] [data-aos]{transition-duration:.35s}[data-aos][data-aos][data-aos-delay="350"],body[data-aos-delay="350"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="350"].aos-animate,body[data-aos-delay="350"] [data-aos].aos-animate{transition-delay:.35s}[data-aos][data-aos][data-aos-duration="400"],body[data-aos-duration="400"] [data-aos]{transition-duration:.4s}[data-aos][data-aos][data-aos-delay="400"],body[data-aos-delay="400"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="400"].aos-animate,body[data-aos-delay="400"] [data-aos].aos-animate{transition-delay:.4s}[data-aos][data-aos][data-aos-duration="450"],body[data-aos-duration="450"] [data-aos]{transition-duration:.45s}[data-aos][data-aos][data-aos-delay="450"],body[data-aos-delay="450"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="450"].aos-animate,body[data-aos-delay="450"] [data-aos].aos-animate{transition-delay:.45s}[data-aos][data-aos][data-aos-duration="500"],body[data-aos-duration="500"] [data-aos]{transition-duration:.5s}[data-aos][data-aos][data-aos-delay="500"],body[data-aos-delay="500"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="500"].aos-animate,body[data-aos-delay="500"] [data-aos].aos-animate{transition-delay:.5s}[data-aos][data-aos][data-aos-duration="550"],body[data-aos-duration="550"] [data-aos]{transition-duration:.55s}[data-aos][data-aos][data-aos-delay="550"],body[data-aos-delay="550"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="550"].aos-animate,body[data-aos-delay="550"] [data-aos].aos-animate{transition-delay:.55s}[data-aos][data-aos][data-aos-duration="600"],body[data-aos-duration="600"] [data-aos]{transition-duration:.6s}[data-aos][data-aos][data-aos-delay="600"],body[data-aos-delay="600"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="600"].aos-animate,body[data-aos-delay="600"] [data-aos].aos-animate{transition-delay:.6s}[data-aos][data-aos][data-aos-duration="650"],body[data-aos-duration="650"] [data-aos]{transition-duration:.65s}[data-aos][data-aos][data-aos-delay="650"],body[data-aos-delay="650"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="650"].aos-animate,body[data-aos-delay="650"] [data-aos].aos-animate{transition-delay:.65s}[data-aos][data-aos][data-aos-duration="700"],body[data-aos-duration="700"] [data-aos]{transition-duration:.7s}[data-aos][data-aos][data-aos-delay="700"],body[data-aos-delay="700"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="700"].aos-animate,body[data-aos-delay="700"] [data-aos].aos-animate{transition-delay:.7s}[data-aos][data-aos][data-aos-duration="750"],body[data-aos-duration="750"] [data-aos]{transition-duration:.75s}[data-aos][data-aos][data-aos-delay="750"],body[data-aos-delay="750"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="750"].aos-animate,body[data-aos-delay="750"] [data-aos].aos-animate{transition-delay:.75s}[data-aos][data-aos][data-aos-duration="800"],body[data-aos-duration="800"] [data-aos]{transition-duration:.8s}[data-aos][data-aos][data-aos-delay="800"],body[data-aos-delay="800"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="800"].aos-animate,body[data-aos-delay="800"] [data-aos].aos-animate{transition-delay:.8s}[data-aos][data-aos][data-aos-duration="850"],body[data-aos-duration="850"] [data-aos]{transition-duration:.85s}[data-aos][data-aos][data-aos-delay="850"],body[data-aos-delay="850"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="850"].aos-animate,body[data-aos-delay="850"] [data-aos].aos-animate{transition-delay:.85s}[data-aos][data-aos][data-aos-duration="900"],body[data-aos-duration="900"] [data-aos]{transition-duration:.9s}[data-aos][data-aos][data-aos-delay="900"],body[data-aos-delay="900"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="900"].aos-animate,body[data-aos-delay="900"] [data-aos].aos-animate{transition-delay:.9s}[data-aos][data-aos][data-aos-duration="950"],body[data-aos-duration="950"] [data-aos]{transition-duration:.95s}[data-aos][data-aos][data-aos-delay="950"],body[data-aos-delay="950"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="950"].aos-animate,body[data-aos-delay="950"] [data-aos].aos-animate{transition-delay:.95s}[data-aos][data-aos][data-aos-duration="1000"],body[data-aos-duration="1000"] [data-aos]{transition-duration:1s}[data-aos][data-aos][data-aos-delay="1000"],body[data-aos-delay="1000"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="1000"].aos-animate,body[data-aos-delay="1000"] [data-aos].aos-animate{transition-delay:1s}[data-aos][data-aos][data-aos-duration="1050"],body[data-aos-duration="1050"] [data-aos]{transition-duration:1.05s}[data-aos][data-aos][data-aos-delay="1050"],body[data-aos-delay="1050"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="1050"].aos-animate,body[data-aos-delay="1050"] [data-aos].aos-animate{transition-delay:1.05s}[data-aos][data-aos][data-aos-duration="1100"],body[data-aos-duration="1100"] [data-aos]{transition-duration:1.1s}[data-aos][data-aos][data-aos-delay="1100"],body[data-aos-delay="1100"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="1100"].aos-animate,body[data-aos-delay="1100"] [data-aos].aos-animate{transition-delay:1.1s}[data-aos][data-aos][data-aos-duration="1150"],body[data-aos-duration="1150"] [data-aos]{transition-duration:1.15s}[data-aos][data-aos][data-aos-delay="1150"],body[data-aos-delay="1150"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="1150"].aos-animate,body[data-aos-delay="1150"] [data-aos].aos-animate{transition-delay:1.15s}[data-aos][data-aos][data-aos-duration="1200"],body[data-aos-duration="1200"] [data-aos]{transition-duration:1.2s}[data-aos][data-aos][data-aos-delay="1200"],body[data-aos-delay="1200"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="1200"].aos-animate,body[data-aos-delay="1200"] [data-aos].aos-animate{transition-delay:1.2s}[data-aos][data-aos][data-aos-duration="1250"],body[data-aos-duration="1250"] [data-aos]{transition-duration:1.25s}[data-aos][data-aos][data-aos-delay="1250"],body[data-aos-delay="1250"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="1250"].aos-animate,body[data-aos-delay="1250"] [data-aos].aos-animate{transition-delay:1.25s}[data-aos][data-aos][data-aos-duration="1300"],body[data-aos-duration="1300"] [data-aos]{transition-duration:1.3s}[data-aos][data-aos][data-aos-delay="1300"],body[data-aos-delay="1300"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="1300"].aos-animate,body[data-aos-delay="1300"] [data-aos].aos-animate{transition-delay:1.3s}[data-aos][data-aos][data-aos-duration="1350"],body[data-aos-duration="1350"] [data-aos]{transition-duration:1.35s}[data-aos][data-aos][data-aos-delay="1350"],body[data-aos-delay="1350"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="1350"].aos-animate,body[data-aos-delay="1350"] [data-aos].aos-animate{transition-delay:1.35s}[data-aos][data-aos][data-aos-duration="1400"],body[data-aos-duration="1400"] [data-aos]{transition-duration:1.4s}[data-aos][data-aos][data-aos-delay="1400"],body[data-aos-delay="1400"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="1400"].aos-animate,body[data-aos-delay="1400"] [data-aos].aos-animate{transition-delay:1.4s}[data-aos][data-aos][data-aos-duration="1450"],body[data-aos-duration="1450"] [data-aos]{transition-duration:1.45s}[data-aos][data-aos][data-aos-delay="1450"],body[data-aos-delay="1450"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="1450"].aos-animate,body[data-aos-delay="1450"] [data-aos].aos-animate{transition-delay:1.45s}[data-aos][data-aos][data-aos-duration="1500"],body[data-aos-duration="1500"] [data-aos]{transition-duration:1.5s}[data-aos][data-aos][data-aos-delay="1500"],body[data-aos-delay="1500"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="1500"].aos-animate,body[data-aos-delay="1500"] [data-aos].aos-animate{transition-delay:1.5s}[data-aos][data-aos][data-aos-duration="1550"],body[data-aos-duration="1550"] [data-aos]{transition-duration:1.55s}[data-aos][data-aos][data-aos-delay="1550"],body[data-aos-delay="1550"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="1550"].aos-animate,body[data-aos-delay="1550"] [data-aos].aos-animate{transition-delay:1.55s}[data-aos][data-aos][data-aos-duration="1600"],body[data-aos-duration="1600"] [data-aos]{transition-duration:1.6s}[data-aos][data-aos][data-aos-delay="1600"],body[data-aos-delay="1600"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="1600"].aos-animate,body[data-aos-delay="1600"] [data-aos].aos-animate{transition-delay:1.6s}[data-aos][data-aos][data-aos-duration="1650"],body[data-aos-duration="1650"] [data-aos]{transition-duration:1.65s}[data-aos][data-aos][data-aos-delay="1650"],body[data-aos-delay="1650"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="1650"].aos-animate,body[data-aos-delay="1650"] [data-aos].aos-animate{transition-delay:1.65s}[data-aos][data-aos][data-aos-duration="1700"],body[data-aos-duration="1700"] [data-aos]{transition-duration:1.7s}[data-aos][data-aos][data-aos-delay="1700"],body[data-aos-delay="1700"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="1700"].aos-animate,body[data-aos-delay="1700"] [data-aos].aos-animate{transition-delay:1.7s}[data-aos][data-aos][data-aos-duration="1750"],body[data-aos-duration="1750"] [data-aos]{transition-duration:1.75s}[data-aos][data-aos][data-aos-delay="1750"],body[data-aos-delay="1750"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="1750"].aos-animate,body[data-aos-delay="1750"] [data-aos].aos-animate{transition-delay:1.75s}[data-aos][data-aos][data-aos-duration="1800"],body[data-aos-duration="1800"] [data-aos]{transition-duration:1.8s}[data-aos][data-aos][data-aos-delay="1800"],body[data-aos-delay="1800"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="1800"].aos-animate,body[data-aos-delay="1800"] [data-aos].aos-animate{transition-delay:1.8s}[data-aos][data-aos][data-aos-duration="1850"],body[data-aos-duration="1850"] [data-aos]{transition-duration:1.85s}[data-aos][data-aos][data-aos-delay="1850"],body[data-aos-delay="1850"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="1850"].aos-animate,body[data-aos-delay="1850"] [data-aos].aos-animate{transition-delay:1.85s}[data-aos][data-aos][data-aos-duration="1900"],body[data-aos-duration="1900"] [data-aos]{transition-duration:1.9s}[data-aos][data-aos][data-aos-delay="1900"],body[data-aos-delay="1900"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="1900"].aos-animate,body[data-aos-delay="1900"] [data-aos].aos-animate{transition-delay:1.9s}[data-aos][data-aos][data-aos-duration="1950"],body[data-aos-duration="1950"] [data-aos]{transition-duration:1.95s}[data-aos][data-aos][data-aos-delay="1950"],body[data-aos-delay="1950"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="1950"].aos-animate,body[data-aos-delay="1950"] [data-aos].aos-animate{transition-delay:1.95s}[data-aos][data-aos][data-aos-duration="2000"],body[data-aos-duration="2000"] [data-aos]{transition-duration:2s}[data-aos][data-aos][data-aos-delay="2000"],body[data-aos-delay="2000"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="2000"].aos-animate,body[data-aos-delay="2000"] [data-aos].aos-animate{transition-delay:2s}[data-aos][data-aos][data-aos-duration="2050"],body[data-aos-duration="2050"] [data-aos]{transition-duration:2.05s}[data-aos][data-aos][data-aos-delay="2050"],body[data-aos-delay="2050"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="2050"].aos-animate,body[data-aos-delay="2050"] [data-aos].aos-animate{transition-delay:2.05s}[data-aos][data-aos][data-aos-duration="2100"],body[data-aos-duration="2100"] [data-aos]{transition-duration:2.1s}[data-aos][data-aos][data-aos-delay="2100"],body[data-aos-delay="2100"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="2100"].aos-animate,body[data-aos-delay="2100"] [data-aos].aos-animate{transition-delay:2.1s}[data-aos][data-aos][data-aos-duration="2150"],body[data-aos-duration="2150"] [data-aos]{transition-duration:2.15s}[data-aos][data-aos][data-aos-delay="2150"],body[data-aos-delay="2150"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="2150"].aos-animate,body[data-aos-delay="2150"] [data-aos].aos-animate{transition-delay:2.15s}[data-aos][data-aos][data-aos-duration="2200"],body[data-aos-duration="2200"] [data-aos]{transition-duration:2.2s}[data-aos][data-aos][data-aos-delay="2200"],body[data-aos-delay="2200"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="2200"].aos-animate,body[data-aos-delay="2200"] [data-aos].aos-animate{transition-delay:2.2s}[data-aos][data-aos][data-aos-duration="2250"],body[data-aos-duration="2250"] [data-aos]{transition-duration:2.25s}[data-aos][data-aos][data-aos-delay="2250"],body[data-aos-delay="2250"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="2250"].aos-animate,body[data-aos-delay="2250"] [data-aos].aos-animate{transition-delay:2.25s}[data-aos][data-aos][data-aos-duration="2300"],body[data-aos-duration="2300"] [data-aos]{transition-duration:2.3s}[data-aos][data-aos][data-aos-delay="2300"],body[data-aos-delay="2300"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="2300"].aos-animate,body[data-aos-delay="2300"] [data-aos].aos-animate{transition-delay:2.3s}[data-aos][data-aos][data-aos-duration="2350"],body[data-aos-duration="2350"] [data-aos]{transition-duration:2.35s}[data-aos][data-aos][data-aos-delay="2350"],body[data-aos-delay="2350"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="2350"].aos-animate,body[data-aos-delay="2350"] [data-aos].aos-animate{transition-delay:2.35s}[data-aos][data-aos][data-aos-duration="2400"],body[data-aos-duration="2400"] [data-aos]{transition-duration:2.4s}[data-aos][data-aos][data-aos-delay="2400"],body[data-aos-delay="2400"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="2400"].aos-animate,body[data-aos-delay="2400"] [data-aos].aos-animate{transition-delay:2.4s}[data-aos][data-aos][data-aos-duration="2450"],body[data-aos-duration="2450"] [data-aos]{transition-duration:2.45s}[data-aos][data-aos][data-aos-delay="2450"],body[data-aos-delay="2450"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="2450"].aos-animate,body[data-aos-delay="2450"] [data-aos].aos-animate{transition-delay:2.45s}[data-aos][data-aos][data-aos-duration="2500"],body[data-aos-duration="2500"] [data-aos]{transition-duration:2.5s}[data-aos][data-aos][data-aos-delay="2500"],body[data-aos-delay="2500"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="2500"].aos-animate,body[data-aos-delay="2500"] [data-aos].aos-animate{transition-delay:2.5s}[data-aos][data-aos][data-aos-duration="2550"],body[data-aos-duration="2550"] [data-aos]{transition-duration:2.55s}[data-aos][data-aos][data-aos-delay="2550"],body[data-aos-delay="2550"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="2550"].aos-animate,body[data-aos-delay="2550"] [data-aos].aos-animate{transition-delay:2.55s}[data-aos][data-aos][data-aos-duration="2600"],body[data-aos-duration="2600"] [data-aos]{transition-duration:2.6s}[data-aos][data-aos][data-aos-delay="2600"],body[data-aos-delay="2600"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="2600"].aos-animate,body[data-aos-delay="2600"] [data-aos].aos-animate{transition-delay:2.6s}[data-aos][data-aos][data-aos-duration="2650"],body[data-aos-duration="2650"] [data-aos]{transition-duration:2.65s}[data-aos][data-aos][data-aos-delay="2650"],body[data-aos-delay="2650"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="2650"].aos-animate,body[data-aos-delay="2650"] [data-aos].aos-animate{transition-delay:2.65s}[data-aos][data-aos][data-aos-duration="2700"],body[data-aos-duration="2700"] [data-aos]{transition-duration:2.7s}[data-aos][data-aos][data-aos-delay="2700"],body[data-aos-delay="2700"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="2700"].aos-animate,body[data-aos-delay="2700"] [data-aos].aos-animate{transition-delay:2.7s}[data-aos][data-aos][data-aos-duration="2750"],body[data-aos-duration="2750"] [data-aos]{transition-duration:2.75s}[data-aos][data-aos][data-aos-delay="2750"],body[data-aos-delay="2750"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="2750"].aos-animate,body[data-aos-delay="2750"] [data-aos].aos-animate{transition-delay:2.75s}[data-aos][data-aos][data-aos-duration="2800"],body[data-aos-duration="2800"] [data-aos]{transition-duration:2.8s}[data-aos][data-aos][data-aos-delay="2800"],body[data-aos-delay="2800"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="2800"].aos-animate,body[data-aos-delay="2800"] [data-aos].aos-animate{transition-delay:2.8s}[data-aos][data-aos][data-aos-duration="2850"],body[data-aos-duration="2850"] [data-aos]{transition-duration:2.85s}[data-aos][data-aos][data-aos-delay="2850"],body[data-aos-delay="2850"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="2850"].aos-animate,body[data-aos-delay="2850"] [data-aos].aos-animate{transition-delay:2.85s}[data-aos][data-aos][data-aos-duration="2900"],body[data-aos-duration="2900"] [data-aos]{transition-duration:2.9s}[data-aos][data-aos][data-aos-delay="2900"],body[data-aos-delay="2900"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="2900"].aos-animate,body[data-aos-delay="2900"] [data-aos].aos-animate{transition-delay:2.9s}[data-aos][data-aos][data-aos-duration="2950"],body[data-aos-duration="2950"] [data-aos]{transition-duration:2.95s}[data-aos][data-aos][data-aos-delay="2950"],body[data-aos-delay="2950"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="2950"].aos-animate,body[data-aos-delay="2950"] [data-aos].aos-animate{transition-delay:2.95s}[data-aos][data-aos][data-aos-duration="3000"],body[data-aos-duration="3000"] [data-aos]{transition-duration:3s}[data-aos][data-aos][data-aos-delay="3000"],body[data-aos-delay="3000"] [data-aos]{transition-delay:0s}[data-aos][data-aos][data-aos-delay="3000"].aos-animate,body[data-aos-delay="3000"] [data-aos].aos-animate{transition-delay:3s}[data-aos]{pointer-events:none}[data-aos].aos-animate{pointer-events:auto}[data-aos][data-aos][data-aos-easing=linear],body[data-aos-easing=linear] [data-aos]{transition-timing-function:cubic-bezier(.25,.25,.75,.75)}[data-aos][data-aos][data-aos-easing=ease],body[data-aos-easing=ease] [data-aos]{transition-timing-function:ease}[data-aos][data-aos][data-aos-easing=ease-in],body[data-aos-easing=ease-in] [data-aos]{transition-timing-function:ease-in}[data-aos][data-aos][data-aos-easing=ease-out],body[data-aos-easing=ease-out] [data-aos]{transition-timing-function:ease-out}[data-aos][data-aos][data-aos-easing=ease-in-out],body[data-aos-easing=ease-in-out] [data-aos]{transition-timing-function:ease-in-out}[data-aos][data-aos][data-aos-easing=ease-in-back],body[data-aos-easing=ease-in-back] [data-aos]{transition-timing-function:cubic-bezier(.6,-.28,.735,.045)}[data-aos][data-aos][data-aos-easing=ease-out-back],body[data-aos-easing=ease-out-back] [data-aos]{transition-timing-function:cubic-bezier(.175,.885,.32,1.275)}[data-aos][data-aos][data-aos-easing=ease-in-out-back],body[data-aos-easing=ease-in-out-back] [data-aos]{transition-timing-function:cubic-bezier(.68,-.55,.265,1.55)}[data-aos][data-aos][data-aos-easing=ease-in-sine],body[data-aos-easing=ease-in-sine] [data-aos]{transition-timing-function:cubic-bezier(.47,0,.745,.715)}[data-aos][data-aos][data-aos-easing=ease-out-sine],body[data-aos-easing=ease-out-sine] [data-aos]{transition-timing-function:cubic-bezier(.39,.575,.565,1)}[data-aos][data-aos][data-aos-easing=ease-in-out-sine],body[data-aos-easing=ease-in-out-sine] [data-aos]{transition-timing-function:cubic-bezier(.445,.05,.55,.95)}[data-aos][data-aos][data-aos-easing=ease-in-quad],body[data-aos-easing=ease-in-quad] [data-aos]{transition-timing-function:cubic-bezier(.55,.085,.68,.53)}[data-aos][data-aos][data-aos-easing=ease-out-quad],body[data-aos-easing=ease-out-quad] [data-aos]{transition-timing-function:cubic-bezier(.25,.46,.45,.94)}[data-aos][data-aos][data-aos-easing=ease-in-out-quad],body[data-aos-easing=ease-in-out-quad] [data-aos]{transition-timing-function:cubic-bezier(.455,.03,.515,.955)}[data-aos][data-aos][data-aos-easing=ease-in-cubic],body[data-aos-easing=ease-in-cubic] [data-aos]{transition-timing-function:cubic-bezier(.55,.085,.68,.53)}[data-aos][data-aos][data-aos-easing=ease-out-cubic],body[data-aos-easing=ease-out-cubic] [data-aos]{transition-timing-function:cubic-bezier(.25,.46,.45,.94)}[data-aos][data-aos][data-aos-easing=ease-in-out-cubic],body[data-aos-easing=ease-in-out-cubic] [data-aos]{transition-timing-function:cubic-bezier(.455,.03,.515,.955)}[data-aos][data-aos][data-aos-easing=ease-in-quart],body[data-aos-easing=ease-in-quart] [data-aos]{transition-timing-function:cubic-bezier(.55,.085,.68,.53)}[data-aos][data-aos][data-aos-easing=ease-out-quart],body[data-aos-easing=ease-out-quart] [data-aos]{transition-timing-function:cubic-bezier(.25,.46,.45,.94)}[data-aos][data-aos][data-aos-easing=ease-in-out-quart],body[data-aos-easing=ease-in-out-quart] [data-aos]{transition-timing-function:cubic-bezier(.455,.03,.515,.955)}@media screen{html:not(.no-js) [data-aos^=fade][data-aos^=fade]{opacity:0;transition-property:opacity,-webkit-transform;transition-property:opacity,transform;transition-property:opacity,transform,-webkit-transform}html:not(.no-js) [data-aos^=fade][data-aos^=fade].aos-animate{opacity:1;-webkit-transform:none;transform:none}html:not(.no-js) [data-aos=fade-up]{-webkit-transform:translate3d(0,100px,0);transform:translate3d(0,100px,0)}html:not(.no-js) [data-aos=fade-down]{-webkit-transform:translate3d(0,-100px,0);transform:translate3d(0,-100px,0)}html:not(.no-js) [data-aos=fade-right]{-webkit-transform:translate3d(-100px,0,0);transform:translate3d(-100px,0,0)}html:not(.no-js) [data-aos=fade-left]{-webkit-transform:translate3d(100px,0,0);transform:translate3d(100px,0,0)}html:not(.no-js) [data-aos=fade-up-right]{-webkit-transform:translate3d(-100px,100px,0);transform:translate3d(-100px,100px,0)}html:not(.no-js) [data-aos=fade-up-left]{-webkit-transform:translate3d(100px,100px,0);transform:translate3d(100px,100px,0)}html:not(.no-js) [data-aos=fade-down-right]{-webkit-transform:translate3d(-100px,-100px,0);transform:translate3d(-100px,-100px,0)}html:not(.no-js) [data-aos=fade-down-left]{-webkit-transform:translate3d(100px,-100px,0);transform:translate3d(100px,-100px,0)}html:not(.no-js) [data-aos^=zoom][data-aos^=zoom]{opacity:0;transition-property:opacity,-webkit-transform;transition-property:opacity,transform;transition-property:opacity,transform,-webkit-transform}html:not(.no-js) [data-aos^=zoom][data-aos^=zoom].aos-animate{opacity:1;-webkit-transform:translateZ(0) scale(1);transform:translateZ(0) scale(1)}html:not(.no-js) [data-aos=zoom-in]{-webkit-transform:scale(.6);transform:scale(.6)}html:not(.no-js) [data-aos=zoom-in-up]{-webkit-transform:translate3d(0,100px,0) scale(.6);transform:translate3d(0,100px,0) scale(.6)}html:not(.no-js) [data-aos=zoom-in-down]{-webkit-transform:translate3d(0,-100px,0) scale(.6);transform:translate3d(0,-100px,0) scale(.6)}html:not(.no-js) [data-aos=zoom-in-right]{-webkit-transform:translate3d(-100px,0,0) scale(.6);transform:translate3d(-100px,0,0) scale(.6)}html:not(.no-js) [data-aos=zoom-in-left]{-webkit-transform:translate3d(100px,0,0) scale(.6);transform:translate3d(100px,0,0) scale(.6)}html:not(.no-js) [data-aos=zoom-out]{-webkit-transform:scale(1.2);transform:scale(1.2)}html:not(.no-js) [data-aos=zoom-out-up]{-webkit-transform:translate3d(0,100px,0) scale(1.2);transform:translate3d(0,100px,0) scale(1.2)}html:not(.no-js) [data-aos=zoom-out-down]{-webkit-transform:translate3d(0,-100px,0) scale(1.2);transform:translate3d(0,-100px,0) scale(1.2)}html:not(.no-js) [data-aos=zoom-out-right]{-webkit-transform:translate3d(-100px,0,0) scale(1.2);transform:translate3d(-100px,0,0) scale(1.2)}html:not(.no-js) [data-aos=zoom-out-left]{-webkit-transform:translate3d(100px,0,0) scale(1.2);transform:translate3d(100px,0,0) scale(1.2)}html:not(.no-js) [data-aos^=slide][data-aos^=slide]{transition-property:-webkit-transform;transition-property:transform;transition-property:transform,-webkit-transform;visibility:hidden}html:not(.no-js) [data-aos^=slide][data-aos^=slide].aos-animate{visibility:visible;-webkit-transform:translateZ(0);transform:translateZ(0)}html:not(.no-js) [data-aos=slide-up]{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}html:not(.no-js) [data-aos=slide-down]{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}html:not(.no-js) [data-aos=slide-right]{-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}html:not(.no-js) [data-aos=slide-left]{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}html:not(.no-js) [data-aos^=flip][data-aos^=flip]{-webkit-backface-visibility:hidden;backface-visibility:hidden;transition-property:-webkit-transform;transition-property:transform;transition-property:transform,-webkit-transform}html:not(.no-js) [data-aos=flip-left]{-webkit-transform:perspective(2500px) rotateY(-100deg);transform:perspective(2500px) rotateY(-100deg)}html:not(.no-js) [data-aos=flip-left].aos-animate{-webkit-transform:perspective(2500px) rotateY(0);transform:perspective(2500px) rotateY(0)}html:not(.no-js) [data-aos=flip-right]{-webkit-transform:perspective(2500px) rotateY(100deg);transform:perspective(2500px) rotateY(100deg)}html:not(.no-js) [data-aos=flip-right].aos-animate{-webkit-transform:perspective(2500px) rotateY(0);transform:perspective(2500px) rotateY(0)}html:not(.no-js) [data-aos=flip-up]{-webkit-transform:perspective(2500px) rotateX(-100deg);transform:perspective(2500px) rotateX(-100deg)}html:not(.no-js) [data-aos=flip-up].aos-animate{-webkit-transform:perspective(2500px) rotateX(0);transform:perspective(2500px) rotateX(0)}html:not(.no-js) [data-aos=flip-down]{-webkit-transform:perspective(2500px) rotateX(100deg);transform:perspective(2500px) rotateX(100deg)}html:not(.no-js) [data-aos=flip-down].aos-animate{-webkit-transform:perspective(2500px) rotateX(0);transform:perspective(2500px) rotateX(0)}}