:root {
	--background-color: #f6f6F6F6;
	--pure-color: #ffffff;
	--card-color: #ffffff;
	--card2-color: #fbfbfb;
	--pure-gery-color: #f5f5f5;
	--border-color: #e0e0e0;
	--line-color: #ebebeb;
	--nav-color: #e4e6e7;
	--nav-text-color: #374043;
	--text-color: #333;
	--text2-color: #444;
	--hover-color: #f8f8f8;
	/* Light 颜色变量 */
}


[data-theme="dark"] {
	--background-color: #1d1f20;
	--pure-color: #f2f2f2;
	--card-color: #2b2b2b;
	--card2-color: #2e2e2e;
	--pure-gery-color: #424242;
	--border-color: #333739;
	--line-color: #363a3c;
	--nav-color: #262a2b;
	--nav-text-color: #c1bcb4;
	--text-color: #c1bcb4;
	--text2-color: #bdb7af;
	--hover-color: #262a2b;
	/* Dark 颜色变量 */

	img {
		filter: brightness(0.8);
	}

	#ZaiJPG {
		filter: invert(100%);
	}

	/* Dark 颜色变量 */
}


*,
:after,
:before {
	box-sizing: border-box
}


:focus {
	outline: 0
}

html {
	text-size-adjust: 100%;
	scroll-behavior: smooth;
}


body {
	margin: 0;
	background-color: var(--background-color);
	transition: all .3s ease;

}

h1 a,
h1 a:hover,
h2 a,
h2 a:hover,
h3 a,
h3 a:hover,
h4 a,
h4 a:hover,
h5 a,
h5 a:hover,
h6 a,
h6 a:hover {
	color: inherit;
	border-bottom: 0;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

figure {
	display: block;
	margin: 0;
	text-align: center;
}

figcaption {
	color: var(--text2-color);
	font-size: 0.75rem;
	margin-top: 0.5em;
}

object {
	max-width: 100%
}

ol,
ul {
	margin-top: 0
}

li>ol,
li>ul {
	margin-bottom: 0
}

code,
pre {
	font-family: ui-monospace, JetBrains Mono, SFMono-Regular, Menlo, Monaco, Consolas, Andale Mono, Liberation Mono, Ubuntu Mono, Courier New, monospace;
	font-size: .9em
}

pre {
	word-wrap: break-word;
	position: relative;
}

pre>code,
pre>code:hover {
	padding: 0;
	border-radius: 0;
	border: 0;
	margin: 0;
}

blockquote p:last-child {
	margin-bottom: 0
}

hr {
	position: relative;
	width: calc(100% - 4px);
	height: .125rem;
	border: none;
	background: var(--card-color) repeating-linear-gradient(-45deg, var(--themecolor), var(--themecolor) 0.25rem, transparent 0.25rem, transparent 0.5rem);
	box-sizing: content-box;
	overflow: visible;
}

button,
input,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0
}

input {
	border: 1px solid var(--border-color);
	outline: none;
	font-size: 16px;
	padding: 10px 10px 10px 12px;
	border-radius: 0.75rem;
	width: 200px;
	box-shadow: 0 0 6px #00000008;
}

textarea {
	vertical-align: top
}

table {
	width: 100%;
	border-collapse: collapse;
	box-shadow: 0 0 6px #00000008;
	overflow: hidden;
	text-align: left;
	border-radius: 0.35rem;
	margin: 1.25rem 0;
}

table thead {
	background-color: var(--pure-gery-color);
}

table th,
table td {
	padding: 0.4rem 1.25rem;
	border-bottom: 1px solid var(--line-color);
	font-size: 0.95rem
}

table tr {
	transition: all .3s ease;
}

table tr:has(td):hover {
	background-color: var(--hover-color);
}

.icon:empty:before {
	margin-right: 0
}

.icon-ui:before {
	vertical-align: bottom;
	font-size: 20px;
	margin: 4px
}

.icon-ui-comment:before {
	content: "\E802"
}

.icon-ui-date:before {
	content: "\E80D"
}

a,
a:after,
a:before {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	/* 去除浏览器按压反馈 */
}


code,
kbd {
	position: relative;
	display: inline-block;
	top: -1px;
	padding-right: 8px;
	padding-left: 8px;
}

.form {
	position: relative;
	float: left;
	width: 100%
}

.form-input {
	float: left;
	width: 100%;
	max-height: 36px;
	border: 0;
	padding: 8px;
	background: 0 0;
	appearance: none;
	color: inherit
}

.form-input-hidden {
	display: none
}

ol,
ul {
	list-style: none;
	padding-left: 0
}

pre {
	padding: 12px 16px
}

a,
button,
input,
form {
	transition: all .3s ease-in-out;
}

.root,
html {
	font-size: 15px
}

.h1,
.post--link .post-body .post-wrapper>p:first-of-type,
.post-title,
h1 {
	font-size: 1.75rem;
	line-height: 40px
}

.h2,
h2 {
	font-size: 1.5rem;
	line-height: 36px
}

h2::before {
	content: "";
	right: 3px;
	display: block;
	width: 8px;
	height: 8px;
	background-image: linear-gradient(var(--themecolor), transparent);
	opacity: .65;
	position: relative;
	border-radius: 50%;
	top: 30px;
}

.h3,
h3 {
	font-size: 1.375rem;
	line-height: 30px
}

.comment-title,
.h4,
.h5,
.h6,
h4,
h5,
h6 {
	font-size: 1.125rem;
	line-height: 26px
}

h3::before {
	content: "";
	right: 3px;
	display: block;
	width: 8px;
	height: 8px;
	background-image: linear-gradient(var(--themecolor), transparent);
	opacity: .55;
	position: relative;
	border-radius: 50%;
	top: 30px;
}


.p,
body {
	font-size: 1rem;
	line-height: 1.85
}

.header-about,
.header-form,
.post-body [href^="#fn:"],
.s1,
small {
	font-size: .875rem
}

.avatar,
.meta,
.nav,
.s2 {
	font-size: .75rem
}

.s3 {
	font-size: .666rem
}

@media screen and (min-width:579px) {

	.root,
	html {
		font-size: 16px
	}

	.h1,
	.post--link .post-body .post-wrapper>p:first-of-type,
	.post-title,
	h1 {
		font-size: 2rem;
		line-height: 48px
	}

	.h2,
	h2 {
		line-height: 40px
	}

	h2::before {
		width: 10px;
		height: 10px;
		top: 35px;
	}

	.h3,
	h3 {
		line-height: 36px
	}

	h3::before {
		width: 9px;
		height: 9px;
	}

	.comment-title,
	.h4,
	h4 {
		font-size: 1.375rem;
		line-height: 34px
	}


}

@media screen and (min-width:1183px) {

	.h1,
	.post--link .post-body .post-wrapper>p:first-of-type,
	.post-title,
	h1 {
		font-size: 2.215rem;
		line-height: 56px
	}

	.h2,
	h2 {
		line-height: 44px
	}

	h2::before {
		width: 12px;
		height: 12px;
		top: 40px;
	}

	h3::before {
		width: 10px;
		height: 10px;
		top: 34px
	}

}

@media (min-width:1503px) {

	.root,
	html {
		font-size: 17px
	}

}

.footnotes :target {
	animation: yellowflash-bg 1s;
}

@keyframes yellowflash-bg {
	from {
		background: var(--themecolor);
	}

	to {
		background: transparent;
	}
}

.avatar,
.form,
.form-input,
.header-avatar,
.list,
.meta,
.nav,
.post-body [data-js~=embed],
.post-body ol,
.post-body ul,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6,
object,
ol,
p,
pre,
ul,
.cp p {
	margin-top: 0;
	margin-bottom: 16px
}


.wrapper {
	position: relative;
	width: 100%;
	margin-right: auto;
	margin-left: auto
}

.wrapper:before {
	content: " ";
	display: table
}

.wrapper:after {
	clear: both
}

.form>:last-child,
.main>:last-child,
.nav>.nav-item:last-child,
.wrapper>:last-child {
	margin-bottom: 0;
	word-break: break-word;
}

.avatar {
	position: relative;
	display: table;
	width: 100%;
	line-height: 16px
}

.avatar:before {
	font-size: 32px;
	line-height: 32px
}

.avatar-item {
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: 0;
	margin-bottom: 0;
	transition: all .3s cubic-bezier(0.345, 0.045, 0.345, 1);
}

.avatar-item>* {
	display: table-row;
	overflow: hidden;
	text-overflow: ellipsis
}

.avatar-img {
	max-width: inherit;
	width: 34px;
	height: 34px
}

.avatar-img>* {
	display: block
}

.avatar-item+.avatar-item {
	padding-left: 8px
}

[data-js~=embed] {
	position: relative;
	padding: 0;
	margin-bottom: 0
}

[data-js~=embed]>* {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.post-body [href^="#fn:"] {
	margin-left: 1px;
	margin-right: 1px
}

/* 列表样式 */
.post-body ol,
.post-body ul,
.cp ol,
.cp ul {
	margin-left: 20px;
}

.post-body ol,
.cp ol {
	list-style-type: decimal;
}

.post-body ul,
.cp ul {
	list-style-type: disc;
}

.post-body li,
.post-body li p,
.cp li,
.cp li p {
	margin-bottom: 5px;
}

/* 嵌套列表样式 */
.post-body ol ol,
.post-body ul ul,
.cp ol ol,
.cp ul ul {
	margin-left: 20px;
	padding-left: 20px;
}

.post-body ol ol,
.cp ol ol {
	list-style-type: lower-alpha;
}

.post-body ul ul,
.cp ul ul {
	list-style-type: circle;
}

.post-body ol ol ol,
.cp ol ol ol {
	list-style-type: lower-roman;
}

.post-body ul ul ul,
.cp ul ul ul {
	list-style-type: square;
}

.meta {
	display: flex;
	justify-content: space-between;
	width: 100%
}

.meta>.meta-item:last-child {
	padding-right: 0
}

.meta-item {
	display: inline;
	padding-right: 8px;
	white-space: nowrap;
	cursor: pointer
}

.meta-date {
	overflow: hidden;
	text-overflow: ellipsis
}

.meta-count {
	margin-left: -4px
}

.nav {
	float: left;
	width: 100%
}

.nav>.nav-item:first-child {
	margin-left: 0
}

.nav>.nav-item:last-child {
	margin-right: 0
}

.nav-item {
	display: inline-block;
	margin-right: 8px;
	margin: 3px;
	margin-left: 8px;
	border-radius: 0.4rem;
	transition: all .3s ease;
}

.nav-item a {
	display: block;
	padding: 0.25rem 0.45rem;
	width: 100%;
}

.nav a {
	color: var(--nav-text-color);
}

.nav-text {
	clip: rect(0, 0, 0, 0);
	display: inherit;
	position: absolute
}

.nav--pager .nav-next:after {
	position: relative;
	top: -1px;
	content: '\2192';
	margin-left: 4px
}

.nav-ctrl {
	float: right
}

body {
	overflow-y: scroll
}

body>.wrapper {
	max-width: 339px;
	padding-right: 8px;
	padding-left: 8px
}

@media (min-width:386px) {
	body>.wrapper {
		max-width: 548px;
		padding-right: 18px;
		padding-left: 18px
	}
}

@media (min-width:579px) {
	body>.wrapper {
		max-width: 722px;
		padding-right: 32px;
		padding-left: 32px
	}

	.header {
		position: sticky;
		padding-top: 32px;
		padding-bottom: 16px
	}

	.header-wrapper {
		max-width: 530px
	}

	.sidebar-wrapper {
		max-width: 530px
	}


	.header-nav {
		padding-top: 24px
	}

	.main {
		padding-top: 16px;
		padding-bottom: 32px
	}

	.main-pager {
		padding-top: 32px
	}

	.main-pager .nav-item {
		margin-right: 16px;
		margin-left: 16px
	}

	.post {
		margin-bottom: 36px
	}

	.post-item {
		width: 100%;
		padding: 32px
	}

	.post-body {
		margin-top: -32px
	}

	.post-wrapper {
		max-width: 530px
	}

	.post--link .post-body .post-wrapper>p:first-of-type,
	.post-title {
		margin-top: -8px;
		margin-bottom: 4px
	}

	[data-js~=share]:before {
		margin-right: 8px
	}

	.post-meta .meta-item {
		padding-right: 16px
	}

	.post-comments .post-wrapper:before,
	.post-footer .post-wrapper:before {
		top: -32px
	}

	.post--small {
		width: 50%;
		padding-top: 50%
	}

	.post--small+.post--small {
		margin-bottom: 20px
	}

	.post--small,
	.post--small+.post--small:last-child {
		margin-bottom: -20px
	}

	.post--small .post-inner {
		right: 18px;
		bottom: 18px
	}

	.post--small+.post--small .post-inner {
		right: 0;
		left: 18px
	}

	.post--small .post-item {
		padding: 16px
	}

	.avatar,
	.form,
	.form-input,
	.header-avatar,
	.list,
	.meta,
	.nav,
	.post-body [data-js~=embed],
	.post-body ol,
	.post-body ul,
	blockquote,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	object,
	ol,
	p,
	pre,
	ul,
	hr,
	.cp p {
		margin-bottom: 24px
	}
}

@media (min-width:769px) {
	body>.wrapper {
		max-width: 894px;
		padding-right: 48px;
		padding-left: 48px
	}
}

@media (min-width:1183px) {
	body>.wrapper {
		max-width: 1700px;
		padding-left: 0px;
		padding-right: 328px;
	}
}

@media (min-width: 1503px) {
	body>.wrapper {
		padding-left: 35px;
		padding-right: 365px;
	}
}

.header {
	position: relative;
	float: left;
	width: 100%;
	padding-top: 24px;
	padding-bottom: 12px;
	text-align: center;
	display: flex;
}

.sidebar-wrapper {
	max-width: 275px
}


.header-item {
	float: none;
	display: table;
	width: auto;
	margin-right: auto;
	margin-left: auto
}


.header-nav {
	padding-top: 16px
}

.header-form .form-input {
	margin-bottom: 0
}

.header-credit {
	display: none
}

.header-title+.header-nav {
	padding-top: 0
}

.header-title+.header-nav .nav-item:first-child a:before {
	display: none
}

@media (min-width:769px) {
	.header {
		position: sticky;
		padding-top: 48px;
		padding-right: 48px;
		padding-bottom: 24px;
		padding-left: 48px
	}

	.header-wrapper {
		max-width: 606px
	}

	.sidebar-wrapper {
		max-width: 606px
	}
}

@media (min-width:1183px) {
	.header {
		position: fixed;
		width: 328px;
		padding-top: 50px;
		padding-right: 40px;
		padding-bottom: 40px;
		margin-right: -328px
	}

	.header-wrapper {
		max-width: 100%
	}

	.sidebar-wrapper {
		max-width: 100%
	}

	.header-credit .nav-item,
	.header-item,
	.header-nav .nav-item {
		display: flex;
		width: 100%;
		align-content: center;
		align-items: baseline;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		margin: 3px 0;
	}



	.header-nav .nav-item:first-child {
		position: relative
	}


	.header-credit {
		display: block;
		font-size: .666rem;
		margin: 0;
		bottom: -40px
	}

}

@media (min-width:1503px) {
	.header {
		position: fixed;
		width: 344px;
		padding-right: 50px;
		padding-bottom: 50px;
		margin-right: -344px;
		margin-left: -30px;
	}


	.header-credit {
		bottom: -56px
	}
}

.main {
	float: left;
	width: 100%;
	padding-top: 12px;
	padding-bottom: 24px
}

.main-pager {
	padding-top: 24px
}

.main-pager .nav--pager {
	float: right;
	width: auto;
	margin-bottom: 0
}

.main-pager .nav-next {
	position: relative
}


@media (min-width:769px) {
	.main {
		padding-top: 24px;
		padding-bottom: 48px
	}

	.main-pager {
		padding-top: 48px
	}
}

@media (min-width:1183px) {
	.main {
		padding-top: 50px;
		padding-bottom: 112px;
		padding-left: 325px
	}

	.main-pager {
		padding-top: 112px
	}
}

@media (min-width:1503px) {
	.main {
		padding-top: 50px;
		padding-bottom: 112px;
		padding-left: 315px
	}

	.main-pager {
		padding-top: 112px
	}
}


.protected {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.protected input[type="password"],
.protected input[type="submit"] {
	padding: 10px;
	margin: 5px 0;
	background: var(--card-color);
	width: 300px;
	box-sizing: border-box;
}

.post {
	float: left;
	width: 100%;
	margin-bottom: 24px;

}

.post-inner {
	position: relative;
	z-index: 1;
	overflow: hidden;
	float: left;
	width: 100%
}

.post-item {
	float: left;
	width: 100%;
	padding: 16px
}

.post-wrapper {
	max-width: 275px
}

.post-body {
	margin-top: -16px
}

.post--link .post-body .post-wrapper>p:first-of-type,
.post-title {
	margin-top: -7px;
	margin-bottom: 9px
}

.post-more {
	float: left;
	width: 100%
}

.post-excerpt:after {
	content: ''
}

.post-body ol ol,
.post-body ol ul,
.post-body ul ol,
.post-body ul ul {
	margin-bottom: 0
}

.post-body .post-more:only-child {
	margin-top: -8px
}

.post-comments .post-wrapper:before,
.post-footer .post-wrapper:before {
	content: '';
	position: absolute;
	top: -16px;
	width: 100%
}

.post-meta .meta-item.icon::before {
	font-size: 22px;
	transition: all .3s cubic-bezier(0.345, 0.045, 0.345, 1);
}

[data-js~=share]:before {
	margin-right: 0
}

[data-js~=share] .meta-count {
	display: none
}

[data-js~=share][data-js~=share-start]:before {
	margin-right: 8px
}

[data-js~=share][data-js~=share-start] .meta-count {
	display: inline
}

@media (min-width:386px) {
	.post {
		margin-bottom: 32px
	}

	.post-item {
		width: 100%;
		padding: 24px
	}

	.post-body {
		margin-top: -24px
	}

	.post-wrapper {
		max-width: 436px
	}

	.post--link .post-body .post-wrapper>p:first-of-type,
	.post-title {
		margin-bottom: 17px
	}

	.post-more {
		margin-top: 0
	}

	.post-title+.post-more {
		margin-top: -8px
	}

	.post-comments .post-wrapper:before,
	.post-footer .post-wrapper:before {
		top: -24px
	}
}


@media (min-width:769px) {
	.post {
		margin-bottom: 52px
	}

	.post-item {
		width: 100%;
		padding: 45px 45px 45px 45px;
	}

	.post-body {
		margin-top: -55px
	}

	.post--link .post-body .post-wrapper>p:first-of-type,
	.post-title {
		margin-bottom: 6px
	}

	.post-more {
		margin-top: 16px
	}

	.post-comments .post-wrapper:before,
	.post-footer .post-wrapper:before {
		top: -48px
	}

	.post-footer {
		margin-top: -30px;
	}

	.post-wrapper {
		max-width: 678px
	}
}

@media (min-width:1183px) {
	.post {
		margin-bottom: 40px;
	}

	.post-body {
		margin-top: -56px
	}

	.post-item {
		width: 100%;
		padding: 35px 45px 35px 45px;
	}

	.post-wrapper {
		max-width: 848px
	}

	.post--link .post-body .post-wrapper>p:first-of-type,
	.post-title {
		margin-top: -10px;
		margin-bottom: 10px
	}

	.post-more {
		margin-top: 8px
	}

	.post-comments .post-wrapper:before,
	.post-footer .post-wrapper:before {
		top: -24px
	}
}

@media (min-width:1503px) {
	.post {
		margin-bottom: 55px
	}

	.post-item {
		width: 100%
	}

	.post--link .post-body .post-wrapper>p:first-of-type,
	.post-title {
		margin-top: -10px;
	}

	.post-item {
		width: 100%;
		padding: 45px 45px 45px 45px;
	}

	.post-more {
		margin-top: 24px
	}

	.post-comments .post-wrapper:before,
	.post-footer .post-wrapper:before {
		top: -35px
	}
}

.post--cover .post-header {
	position: absolute;
	z-index: 5;
	top: 0;
	right: 0;
	left: 0
}

.post--cover .post-body {
	margin-top: 0
}

.post--link .post-body .post-wrapper>p:first-of-type {
	word-break: break-word;
	hyphens: auto
}

.post--small {
	position: relative;
	height: 0;
	width: 100%;
	padding-top: 100%
}

.post--small .post-inner {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto;
	height: auto
}

.post--small .post-wrapper {
	max-width: 100%
}


@media (min-width:769px) {
	.post--small+.post--small {
		margin-bottom: 26px
	}

	.post--small,
	.post--small+.post--small:last-child {
		margin-bottom: -26px
	}

	.post--small .post-inner {
		right: 26px;
		bottom: 26px
	}

	.post--small+.post--small .post-inner {
		right: 0;
		left: 26px
	}

	.post--small .post-item {
		padding: 24px
	}
}

@media (min-width:1183px) {
	.post--small+.post--small {
		margin-bottom: 41px
	}

	.post--small,
	.post--small+.post--small:last-child {
		margin-bottom: -41px
	}

	.post--small .post-inner {
		right: 41px;
		bottom: 41px
	}

	.post--small+.post--small .post-inner {
		left: 16px 2.5625
	}

	.post--small .post-item {
		padding: 16px
	}
}

@media (min-width:1503px) {
	.post--small+.post--small {
		margin-bottom: 57px
	}

	.post--small,
	.post--small+.post--small:last-child {
		margin-bottom: -57px
	}

	.post--small .post-inner {
		right: 57px;
		bottom: 57px
	}

	.post--small+.post--small .post-inner {
		left: 57px
	}

	.post--small .post-item {
		padding: 32px
	}
}

.post--link .post-title a,
a {
	color: var(--themecolor);
}

.post--link .post-title a:hover,
a:hover {
	color: var(--themehovercolor);
}

.inner-post-wrapper a:not(.friendsboard-list a):not(.meta.post-meta a):not(.cloud-container a) {
	border-radius: 0.35rem;
	position: relative;
	display: inline-block;
	overflow-wrap: break-word;
	text-decoration: none;
	max-width: 100%;
}

.inner-post-wrapper a:not(.friendsboard-list a):not(.meta.post-meta a):not(.cloud-container a)::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--themecolor);
	border-radius: 0.4rem;
	transform: scale(0.8);
	transition: all 0.3s ease;
	opacity: 0;
}

.inner-post-wrapper a:not(.friendsboard-list a):not(.meta.post-meta a):not(.cloud-container a):hover::before {
	transform: scale(1.05, 0.88);
	opacity: 0.25;
}

.inner-post-wrapper a:not(.friendsboard-list a):not(.meta.post-meta a):not(.cloud-container a):active::before {
	transform: scale(1.03, 0.8);
	opacity: 0.4;
}

.inner-post-wrapper a:not(.friendsboard-list a):not(.meta.post-meta a):not(.cloud-container a)::after {
	content: '\e81f';
	font-family: fontello;
	color: currentColor;
	font-size: 0.8em;
	margin-left: 5px;
}

blockquote {
	border-radius: 0.75rem;
	color: var(--text-color);
	background-color: var(--pure-gery-color);
	width: 100%;
	padding: 16px;
	margin-right: 0;
	margin-left: 0;
	font-size: 0.95rem;
	transition: all .3s cubic-bezier(0.345, 0.045, 0.345, 1);
	border: 1px solid var(--border-color);
	box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .05);
}

code,
kbd {
	border-radius: 0.4rem;
	color: var(--text-color);
	background-color: var(--pure-gery-color);
	border: 1px solid var(--border-color);
	margin: 0 5px
}

ol,
ul {
	color: var(--text-color)
}

ol p {
	margin-bottom: 0px
}

li:before {
	color: #858585
}

pre {
	border-radius: 0.5rem;
	color: #fff;
	background-color: #1e2021;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 800px;
	box-shadow: 0 0 6px #00000008;
	border: 1px solid var(--border-color);
}

.comment-title {
	font-weight: 800;
}

body,
.post--cover .post-body .post-wrapper>p:first-child,
.comment-title,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
	font-weight: 400;
	color: var(--text-color);
}

b,
strong {
	font-weight: 600
}

.avatar,
.avatar:before {
	color: var(--text-color)
}

.avatar {
	text-transform: uppercase;
	letter-spacing: 2px
}

.avatar:hover {
	color: #999
}

.avatar-title {
	color: inherit
}

.avatar-img {
	border-radius: 100%
}

.post-body [href^="#fn"] {
	border-bottom: none
}

.meta {
	color: #767676;
	text-transform: uppercase;
	letter-spacing: 2px
}

.meta-item {
	color: inherit
}

.meta-item:before {
	font-size: 18px;
}

.meta-item:hover {
	color: #999
}

.meta-item:hover .icon-ui:before,
.meta-item:hover:before {
	color: #999
}

.nav {
	color: var(--nav-text-color);
	text-transform: uppercase;
	letter-spacing: 2px
}

.nav-item {
	color: inherit;
	position: relative;
	border: 1px solid var(--background-color);
}

.nav-item-current,
.nav-item:hover {
	background: var(--nav-color);
	color: var(--nav-text-color);
	transition: all .3s ease;
	border: 1px solid var(--border-color);
}

.nav-item:active {
	transform: scale(0.925);
}

.nav-item a,
.nav-item:hover a {
	color: inherit
}

.main-lastinfo {
	min-height: 50px;
}

.nav.main-lastinfo::before {
	content: "";
	display: block;
	height: 3px;
	width: 50px;
	background: var(--text2-color);
	margin-bottom: 10px;
}

.post-inner {
	border-radius: 0.75rem;
	box-shadow: 0 0 6px #00000008;
}

.post-item {
	background-color: var(--card-color)
}

.post--link .post-title a:hover,
.post-body p a:hover {
	border-bottom-color: var(--text-color)
}

.post-comments .post-wrapper:before,
.post-footer .post-wrapper:before {
	border-top: 1px solid var(--line-color)
}

.post--cover .post-header {
	filter: none
}

.post--cover .post-author {
	color: var(--line-color)
}

.post--cover .post-author:hover {
	color: #fff
}

.post--cover .post-cover+.post-footer .post-wrapper:before {
	border-top: 0
}

.post--cover .post-body p:first-child strong {
	font-weight: inherit
}

.doc_comments {
	padding: 0
}

/** comment footer **/
.cf {
	margin: 0 0 3rem 0
}

.response {
	margin: 2rem 0
}

.cf a {
	color: var(--text-color)
}

.comment-list {
	margin: 0;
	padding-left: 0;
	list-style-type: none
}

.avatarcc {
	float: left;
	display: block;
	margin: 1.4rem 1.4rem 0 0;
	width: 64px;
	height: 64px;
	border-radius: 50%
}

/** comment post **/
.cp {
	overflow: hidden;
	padding: 1.5rem 0;
	border-bottom: 1px dotted var(--line-color);
	word-wrap: break-word;
}

.cr {
	float: right;
	display: none
}

.cp:hover .cr {
	display: block
}

.ccr,
.cm {
	margin-top: 1rem;
	margin-bottom: 1rem;
	color: #aaa;
	font-size: .75rem
}

.ccr {
	text-align: right
}

.ca {
	padding: .1rem .2rem;
	border-radius: 2px;
	background: var(--background-color);
	font-size: .75rem
}

.badge {
	padding: .1rem .2rem;
	border-radius: 2px;
	color: var(--pure-color);
	background: var(--themecolor);
	font-size: .75rem;
}

.c_p>.children {
	margin-left: 1rem;
	padding-left: 64px
}

.tbox-container {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	cursor: pointer;
	gap: 20px
}

.tbox-container .tbox {
	flex: 1;
}

@media (max-width: 767.5px) {
	.tbox-container {
		gap: 0
	}

	.tbox-container .tbox {
		flex: 1 1 100%;
	}
}

.comment-box {
	align-items: center;
	border: 1px solid var(--border-color);
	padding: 16px;
	border-radius: 5px;
}

.ci {
	overflow: auto;
	margin: 10px 0;
	transition: all .3s cubic-bezier(0.345, 0.045, 0.345, 1);
	padding: 0.4rem 15px;
	width: 100%;
	border: 1px solid var(--border-color);
	border-radius: 0.65rem;
	background: var(--card-color);
	color: var(--text2-color);
	line-height: 1.7
}

textarea.ci {
	resize: none;
	margin-left: 0px;
	height: 100%;
	padding: 15px 15px;
	min-height: 200px;
}

.ci:focus {
	box-shadow: 0 0 0 .05rem var(--themecolor);
}

.CtBoxBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.left-bar {
	display: flex;
	align-items: center;
	gap: 10px;
}

/* comments*/
.pagination {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 20px 0;
}

.pagination li {
	margin: 0 5px;
}

.pagination li a {
	padding: 8px 12px;
	text-decoration: none;
	color: var(--text-color);
	border: 1px solid var(--border-color);
	border-radius: 0.45rem;
	transition: all .3s ease;
}

.pagination li a:hover {
	background-color: var(--hover-color);
	color: var(--text-color);
}

.pagination .active a {
	background-color: var(--card-color);
	border-color: var(--themecolor);
}

.submit {
	display: block;
	padding: 8px 30px;
	margin-top: 10px;
	border: 1px solid var(--border-color);
	background: var(--card-color);
	text-align: center;
	font-size: 1rem;
	color: var(--text2-color);
	line-height: 36px;
	border-radius: 10px;
	box-shadow: 0 0 6px #00000008;
}

.submit:hover {
	border-color: var(--border-color);
	background: var(--hover-color);
	cursor: pointer
}

.submit:active {
	background-color: var(--hover-color);
	transform: scale(0.95);
}

@media only screen and (max-width:767px) {
	.c_p .children {
		margin-left: 0;
		padding-left: 0
	}
}

.el-avatar--circle {
	border-radius: 50%
}

.el-avatar {
	align-items: center;
	box-sizing: border-box;
	color: var(--text2-color);
	display: inline-flex;
	font-size: 14px;
	height: 120px;
	justify-content: center;
	overflow: hidden;
	text-align: center;
	width: 120px
}

.avatar-hover-effect {
	transition: all 0.3s ease;
	cursor: pointer;
	position: relative;
}

.avatar-hover-effect:hover {
	transform: translateY(-3px);
	box-shadow: 0 0 0 3px var(--themecolor);
	opacity: 0.75;
}

.avatar-hover-effect:active {
	transform: translateY(0) scale(0.925);
}

.avatar-hover-effect::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.15);
	opacity: 0;
	transition: opacity 0.3s ease, transform 0.3s ease;
	pointer-events: none;
}

.wrapper {
	position: relative;
}

.post-title {
	position: relative;
	display: inline-block;
}

.post-title::after {
	content: "";
	display: block;
	position: absolute;
	pointer-events: none;
	border-radius: 0.45rem;
	background: linear-gradient(to right, var(--themecolor), rgb(255 255 255 / 0%));
	opacity: .55;
	transition: all .3s cubic-bezier(0.345, 0.045, 0.345, 1);
}

.post-title:hover::after {
	width: 100%;
}

.no-bg {
	background-color: transparent !important;
}

.post-media {
	width: 100%;
	margin: 0;
	overflow: hidden;
}

.post-media img {
	width: 100%;
	object-fit: cover;
	object-position: center;
	max-height: 350px;
}

/** LICENCE 卡片 **/
.license-info-card {
	padding: 20px 30px;
	background-color: var(--background-color);
	box-shadow: 0 0 6px #00000008;
	border-radius: 0.75rem;
	position: relative;
	border: 1px solid var(--border-color);
	overflow: hidden;
}

.license-info-title {
	font-size: 1.5em;
	font-weight: bold;
}

.license-info-meta {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	color: var(--text2-color);
	gap: 25px;
}

.license-info-meta div {
	display: flex;
	flex-direction: column;
}

.license-info-meta div span {
	margin-bottom: 5px;
}

.cc-icon::before {
	content: '\e819';
	font-family: 'fontello';
	font-size: 10em;
	opacity: .55;
	color: var(--border-color);
	position: absolute;
	right: 40px;
	top: 0;
	pointer-events: none;
	z-index: 0;
}

.license-info-card * {
	z-index: 1;
}

/** PicGird 图片框架 布局 **/

.pic-grid {
	column-count: 3;
	column-gap: 10px;
}

.pic-grid figure {
	break-inside: avoid;
	margin-bottom: 10px;
}

.pic-grid img {
	width: 100%;
	height: auto;
	display: block;
}

/* 小尺寸设备样式 */
@media (max-width: 579px) {
	.license-info-card {
		padding: 15px;
		border-radius: 0.5rem;
		font-size: 0.85rem;
	}

	.license-info-title {
		font-size: 1.2em;
	}

	.license-info-meta {
		gap: 10px;
	}

	.license-info-meta div span {
		margin-bottom: 0;
	}

	.cc-icon::before {
		right: 20px;
	}

	.pic-grid {
		column-count: 2;
	}
}

/* Dark Mode */
.theme-toggle-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.theme-toggle {
	transition: all .3s ease;
	width: 50px;
	height: 50px;
	background-color: var(--background-color);
	border: none;
	border-radius: 10px;
	display: flex;
	align-items: center;
	color: var(--nav-text-color);
	justify-content: center;
	cursor: pointer;
}

#theme-icon {
	font-size: 24px;
	color: var(--nav-text-color);
}

/** Medium-zoom 图片 **/
.medium-zoom-overlay,
.medium-zoom-image--opened {
	z-index: 999;
}


/* 解决自动填充背景颜色问题 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 30px var(--card-color) inset !important;
	-webkit-text-fill-color: var(--text-color) !important;
	background-clip: content-box !important;
}

/* 细滚动条 */
*::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

*::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
	display: none;
}

*::-webkit-scrollbar-corner {
	background-color: transparent;
}

*::-webkit-scrollbar-thumb {
	border: 4px solid rgba(0, 0, 0, 0);
	height: 6px;
	border-radius: 25px;
	background-clip: padding-box;
	background-color: rgba(0, 0, 0, 0.30);
}

.copy-button {
	position: absolute;
	right: 12px;
	top: 12px;
	cursor: pointer;
	background-color: #262a2b;
	color: var(--pure-color);
	border-radius: 0.25rem;
	border: 1px solid #333739;
	padding: 6px 12px;
	font-size: 12px;
	z-index: 10;
}

.code-block-extension-code-show-num .code-block-extension-code-line::before {
	content: attr(data-line-num);
	width: 1em;
	margin-right: 1.5em;
	text-align: right;
	color: #888;
	display: inline-block;
}

/* 本来想改下样式，但这2000行css不敢动 */
/* 大胆动呗=） 史山不能一直史下去 */

.pace .pace-progress {
	background: var(--themecolor) !important;
}